body,html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

body {
  min-height: 100svh;
  background-image: url('../images/page_1/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_box {
  position: relative;
  z-index: 1;
  background-color: rgb(255, 241, 196);
  height: 550px;
  width: 550px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flowers {
  position: absolute;
  z-index: 0;
  height: 780px;
}

.image_holder {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.main_text {
  font-family: 'Baloo 2';
  font-size: 30px;
  font-weight: 600;
}

.image1 {
  transform: rotate(-10deg);
}

.image2 {
  transform: rotate(10deg);
}

.heart {
    position: absolute;
    height: 125px;
    left: 37%;
    bottom: 40%;
}

.image_blw {
  height: 125px;
  width: 125px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.4s;
}

.image_blw:hover {
  transform: scale(1.25);
}

.close {
  position: absolute;
  margin: 0;
  font-family: 'Baloo 2';
  font-size: 25px;
  right: -4%;
  top: -3.5%;
  border: none;
  background-color: pink;
  width: 40px;
  border-radius: 100px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.close:hover {
  opacity: 0.7;
}

.close:active {
  opacity: 0.5;
}

@keyframes footerFade {
  from { opacity: 0; }
  to   { opacity: 0.6; }
}

.footer {
  text-align: center;
  opacity: 0;
  animation: footerFade 0.8s ease-out forwards;

  position: fixed;
  bottom: 0px;

  font-family: 'Baloo 2';
  font-size: 15px;
  pointer-events: none;
  color: rgba(0,0,0,0.6);
  z-index: 9999;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fade {
  opacity: 0;
  animation: fadeDown 0.8s ease-out forwards;
}

@media (max-width: 600px) {
  .text_box {
    width: 80%;
    max-width: 360px;
    height: auto;
    padding: 15px;
  }

  .main_text {
    font-size: 22px;
    text-align: center;
  }

  .image_holder {
    height: 140px;
    width: 140px;
  }

  .heart {
    height: 80px;
    left: 50%;
    bottom: 35%;
    transform: translateX(-50%);
  }

  .image_blw {
    height: 90px;
    width: 90px;
  }

  .flowers {
    width: 100svw;
    height: 500px;
  }

  .close {
    right: -10px;
    top: -10px;
    width: 32px;
    font-size: 20px;
  }

  /* poze de sus – una sub alta */
  .text_box > div:first-of-type {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  /* poze de jos – centrate */
  .text_box > div:last-of-type {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px !important;
  }
}